node_modules
**/node_modules
dist
**/dist
.next
**/.next
.turbo
**/.turbo
.git
.github
*.log
.DS_Store
.env
.env.*
!.env.dist
coverage
**/coverage
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
docs
DEMO.md
TODO.md
